html, body {
	height: 100%;
}

a {
	color: #FF4630;
}

a:hover {
	color: #d82e1a;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.svg-icon {
	vertical-align: -2px;
}

li .svg-icon {
	margin-right: 5px;
}

.footer {
	background-color: #FF4630;
}

.footer span,
.footer a {
	color: #fff !important;
	opacity: 0.85;
}

.footer a:hover {
	opacity: 1;
}

.repo-language-color {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 5px;
}

.dropdown-item {
	padding: .5rem 1.5rem;
}